<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Cheyu Tu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Cheyu Tu professional website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheyu Tu</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><script defer src = "../static/script.js"></script>
    <script defer src = "../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  </head>

  <body onload = "addYear()">
    <header>
      <h1 id = "webname">Cheyu Tu</h1>
      <nav id="myTopnav" class="topnav">
        <a href = "../index.html">Home</a>
        <a href = "cv.html">CV</a>
        <a href = "contact.html">Contact Me</a>
        <a href = "fun.html" class = "active">For Fun</a>
        <a href="javascript:void(0);" class="icon" >
          <i class="fa fa-bars" onclick="activeNav()"></i>
        </a>
      </nav>
    </header>

    <div class="mainFun">
      <div id="item1">
        <h2>Things I love to do for fun</h2>
        <!-- <button id = "SeeMoreBTN" onclick = "showList()">Click to see..</button> -->

        <ul id = "FavList">
          <li>Playing music 🎵</li>
          <li>Drawing 🎨</li>
          <li>Going to performances 🎭</li>
          <li>Enjoying delicious food 🍲</li>
          <li>Take a good nap 😴</li>
        </ul>
      </div> <!-- end of item1 -->

      <div id="item2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PFPqr094uuk?si=j04KA8aVK2odqM65"></iframe>
      </div> <!-- end of item2 -->

      <div id="item3">
        <h3>My favorite places</h3>

        <!--The div element for the map -->
        <div id="map">
          <iframe src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24289.00744604654!2d-79.95284441079127!3d40.45034965865805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f21f58679a9f%3A0x88716b461fc4daf4!2sCarnegie%20Mellon%20University!5e0!3m2!1sen!2sus!4v1711412538509!5m2!1sen!2sus" 
            width="560" height="315" style="border:0;" 
            allowfullscreen="" loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
      </div> <!-- end of item3 -->

      <div id="item4">
        <img class = "funIMG" src = "../static/img/fun_photo.png" alt = "Cheyu's fun photo">
      </div> <!-- end of item4 -->

  </div>

    <footer>
      <p id = "copyYear">Cheyu Tu &copy;</p>
    </footer>
  </body>
</html>