<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Cheyu Tu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Cheyu Tu professional website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheyu Tu</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><script defer src = "../static/script.js"></script>
    <script defer src = "../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>

  <body onload = "addYear()">
    <header>
      <h1 id = "webname">Cheyu Tu</h1>
      <nav id="myTopnav" class="topnav">
        <a href = "index.html" class = "active">Home</a>
        <a href = "cv.html">CV</a>
        <a href = "contact.html">Contact Me</a>
        <a href = "fun.html">For Fun</a>
        <a href="javascript:void(0);" class="icon" >
          <i class="fa fa-bars" onclick="activeNav()"></i>
        </a>
      </nav>
    </header>

    <div class = "main">
      <h2 id = "greeting"></h2>
      <img class = "classA" alt = "Cheyu's profile image" 
        src ="../static/img/photo_of_me.jpg">
      <div class="classA">
          <span id="shortIntro">
            I'm a second-year student at Carnegie Mellon University.
          </span>
          <span id="readMore"> read more ...</span>
          <span id="longIntro">
              I'm majoring in 
            Information Systesm and minoring in Human-Computer Interaction and 
            Animation & Special Effects. <br><br>
          Aside from academics, I'm actively participating in music and art 
            groups. Check out CMU All University Orchestra and welcome to our 
            semesterly concerts!
          </span>
          <span id="readLess"> read less</span>
      </div>
    </div>

    <footer>
      <p id = "copyYear">Cheyu Tu &copy;</p>
    </footer>
  </body>
</html>